
.contenedor-footer{
  background-color:$color-black;
  width: 100%;
  @include flexbox;       
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(space-around); 
}

.sub-contenedor-footer{
  width: 100%;
  max-width: 1200px;
  @include flexbox;       
  @include flex-direction(row);
  @include align-items(flex-start);
  @include justify-content(space-around); 
  @include flex-wrap(wrap); 
}

 .contenedor-columna-footer{
  @include flexbox;       
  @include flex-direction(column);
  @include align-items(flex-start);
  width: 98%;
  padding:4px;
 }

   .titulo-columna-footer{
    font-family: $font-primary;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    letter-spacing: -3;
    color: $color-white;
   }

    .contiene-lena-columna{
      width: 100%;
      @include flexbox;       
      @include flex-direction(row);
      @include align-items(center);
      margin-bottom: 6px;
    }

     .contiene-lena-columna-icono{
      font-size: 18px;
      margin-right:  15px;
      color: $color-white;
     }

     .contiene-lena-columna-texto{
      color:$color-grey1;
      font-size: 14px;
      font-family: $font-secondary;
      cursor:pointer;
     }
     .contiene-lena-columna-texto:hover{
      color:$color-grey0;
     }


/* contiene-cada-columna-del-footer */
.contenedor-columna-footer{
  padding:40px;
  width:90%;  
}

/* es-el-logo-del-footer-a-la-derecha */
.logo-footer{
  width:130px;
  height:auto;
}

.footer-icono-social{
  font-size: 35px;
  padding:3px 8px;
  border-radius: 4px;  
}
.footer-icono-social:hover{
  background-color:$color-3-primary_hover;
  color:white;
}


.social-circle{
  font-size: 26px;
}
















@media (min-width: $BrackPoint-Primario){

        .contenedor-columna-footer{
          padding:10px;
          width:33.33%;
        }

        .logo-footer{
          width:150px; 
        }

       

}

@media (min-width: $BrackPoint-Secundario){

        .contenedor-columna-footer{
          padding:40px;
        }

        .logo-footer{
          width:180px; 
        }

        .contenedor-columna-footer{
         width: 25%;
        }

  
}

@media (min-width: $BrackPoint-Tercer){



  
}