.Slider-contenedor{
  height:100vh;
}

.Slider-img{
  position:absolute;
  top:0;
}

  .Slider-wraper-contenido-de-textos-y-botones{
    height:98vh;
    @include flexbox;       
    @include flex-direction(column);
    @include align-items(center); 
    @include justify-content(space-around);
    width:100%;
    position:absolute;
    z-index: 6;


  }

   .Slider-contenido-de-textos-y-botones{
    @include flexbox;       
    @include flex-direction(column);
    @include align-items(flex-start); 
    width:80%;
    }



    .texto-titulo-slider{
      font-family: $font-primary;
      text-align: left;
      width: 100%;
      font-size: 45px;
      font-weight: bold;
      color:$color-white;
      margin-bottom:20px;

    }

    .contiene-botones-slider{

       @include flexbox;       
      @include flex-direction(column);
      @include align-items(flex-start); 

      

    }

       .wraper-boton-slider{
        margin-top:14px;

        width:200px;
       }




@media (min-width: $BrackPoint-Secundario){
    

   .texto-titulo-slider{
      
      width: 400px;
      font-size: 55px;
      margin-bottom:20px;

    }

    .contiene-botones-slider{

      @include flexbox;       
      @include flex-direction(row);
      @include align-items(center); 
     
     }


       .wraper-boton-slider{
        margin-top:0;
        margin-right:10px;
       }

}