.section-contacto-class{
  width: 100%;
  
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  padding: 10px 0;
  
}

.contacto-imagen-home{
background-image: url("/imagenes/PaginasPersonalizadas/Delpino-website-typo-contact.jpg"); /* The image used */
}

.contacto-imagen-contacto{
  background-image: url("/imagenes/PaginasPersonalizadas/Delpino-website-typo-contact-2.jpg"); /* The image used */
}

  .section-contacto-img-background{
    display: block;
    width: 100vw;
    min-height: 100vh;
    object-fit: cover;

  }

  .contacto-absolut-wraper{
    min-height: 100vh;
    width:100%;
    @include flexbox;       
    @include flex-direction(column);
    @include align-items(center); 
    @include justify-content(space-around);
    padding: 8px;
   }

   .contacto-contenido-wraper{
    width:100%;
   }


.formulario-contacto-wraper{
  padding:4px 10px;
}

.contiene_contacto_img{
  
  @include flexbox;       
  @include flex-direction(column);
  @include align-items(center); 
  margin-bottom: 20px;
  padding: 10px;
}

.contacto_img{
  width: 200px;
  height: auto;
  border-radius:100%;
  margin-bottom: 20px;
}

.contacto_name{
  font-size: 28px;
  margin-bottom: 9px;
  padding:8px;    
  border-bottom:solid 4px $color-3;
}

.contacto_aclaracion{
  font-size: 14px;
  margin-bottom: 5px;
  font-family: $font-primary;

}


/* personalización contacto abogado */
.contacto-titulo{
  font-size:35px;
  letter-spacing: -3px;
  width: 100%;
  margin-bottom: 10px;  
  font-family: $font-primary;
  font-weight: bold;
}

  .contacto-pregunta{
    font-size:25px;
    width: 100%;
    margin-bottom: 10px;    
    font-family: $font-primary;
    line-height: 1;
  }


  .contacto-contiene-opciones{
    width: 100%;
    @include flexbox;       
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(space-around);
    @include flex-wrap(wrap);
    margin-bottom: 15px;
  
   
    }

     .contacto-opciones{
      width: 49%;
      font-family: $font-secondary;
      font-size: 16px;
      padding:5px 35px;
      text-align: center;      
      color:$color-white;
      border:solid 2px $color-white;
      cursor: pointer;
      letter-spacing: 2px;
      margin-top: 5px;
    }
    .contacto-opciones:hover{
      background-color: $color-white;
      color:$color-3;
      
    }

    .contacto-opciones-seleccionada{
      background-color: $color-white;
      color:$color-3;
    }


    .boton-contacto-class{
      font-family: $font-secondary;
      font-size: 25px;
      padding:5px 35px;
      text-align: center;      
      color:$color-white;
      border:solid 2px $color-white;
      cursor: pointer;
      letter-spacing: 2px;
    }
    .boton-contacto-class:hover{
      background-color: $color-white;
      color:$color-3;
      
    }

    .boton-contacto-class-disabled{
      font-family: $font-secondary;
      font-size: 25px;
      padding:5px 35px;
      text-align: center;      
      color:$GrisClaro_2;
      border:solid 2px $GrisClaro_2;
      cursor: pointer;
      letter-spacing: 2px;
    }

/*  I c o n o s  */
.contacto-pagina-contiene-iconos{
    @include flexbox;       
    @include flex-direction(row);
    @include align-items(flex-start);
    margin-bottom:20px;

}    
  .contacto-pagina-iconos{
    margin-right:10px;
  }

  .contiene-datos-contacto{
     @include flexbox;       
     @include flex-direction(column);
     @include align-items(flex-start);
  }

     .contiene-datos-contacto-datos{
      font-family:$font-primary;
      margin-bottom:4px;
      font-size:16px;
      letter-spacing:1.3px;
     }

/*  P a r t e   d e l   f o r m u l a r i o  */
.form-2 .form-control{
  border: none;
  border-radius: 0;
  border-bottom: 2px solid $GrisOscuro_1 !important;
  font-family:$font-secondary;
}
.inut-contacto-black{
  font-weight: bold !important;
  color:$GrisOscuro_2 !important;
  
}
.inut-contacto-black::placeholder {
 color:$GrisOscuro_1  !important;
}

.inut-contacto-black::-webkit-input-placeholder {
  color: $GrisOscuro_1  !important;
}
.inut-contacto-black::-moz-placeholder {
  color: $GrisOscuro_1 !important ;
}
.inut-contacto-black:-ms-input-placeholder {
  color: $GrisOscuro_1 !important ;
}
.inut-contacto-black:-moz-placeholder {
  color: $GrisOscuro_1 !important ;
}

   





  .contacto-contiene-opciones{
    @include flexbox;       
    @include flex-direction(row);
    @include align-items(center); 
    @include justify-content(space-around);

    width: 100%;
  }

     .contacto-contiene-opcion-individual{
      @include flexbox;       
      @include flex-direction(column);
      @include align-items(center); 
      padding: 10px;      
      width: 48%;
      border:solid 1px $color-grey1;
      cursor:pointer;
     }

     

         .contacto-contiene-opcion-individual-titulo{
          color:$color-white;
          font-weight: bold;
          font-size: 14px;
          margin-bottom: 10px;
          text-align: center;
          font-family: $font-primary;


         }





 @media (min-width: $BrackPoint-Secundario){

.section-contacto-class{
  
  padding: 20px 0;
  
}


.contacto-absolut-wraper{
    
    @include flexbox;       
    @include flex-direction(column);
    @include align-items(flex-end); 
    @include justify-content(space-around);
   }

   .contacto-contenido-wraper{
    width:50%;
    padding: 20px;
   } 

  .contacto-titulo{
   font-size:45px;
   margin-bottom: 20px;
  }

   .contacto-pregunta{
    font-size:30px;
    
    
  }

  .contacto-opciones{
      
      font-size: 22px;
      
    }


.formulario-contacto-wraper{
  padding:4px 4px;
}
  .contiene_contacto_img{
  
  }

  .contacto_img{
  width: 300px;
}


.contacto-pagina-contiene-iconos{
    
    margin-bottom:0px;

} 
  
}