.Contiene-lista-de-servicios{
    width: 100%;
    @include flexbox;       
    @include flex-direction(column);
    @include align-items(flex-end);
}



.contiene-cada-servicio{
    @include flexbox;       
    @include flex-direction(column);
    @include align-items(flex-start);
    width: 100%;
    cursor: pointer;
    border-left:solid 3px transparent;
    padding: 0px 0px 0px 20px;
    margin-bottom: 10px;
}
.contiene-cada-servicio:hover{
  width: 95%;
}


    .contiene-cada-servicio-titulo{
      font-size: 28px;
      font-family:$font-primary;
      margin-bottom: 2px;
      letter-spacing: 1.2px;
    }

    .contiene-cada-servicio-descripcion{
      font-size: 14px;
    }


.border-color-servicio-white{
  border-color:$GrisClaro_2;
}

.servicio-text-color-white{
  color:$GrisClaro_2;
}

.servicio-text-color-black{
  color:$GrisOscuro_1;
}













 @media (min-width: $BrackPoint-Secundario){

     
  
}


@media (min-width: $BrackPoint-Tercer){

 

  
}