.Contiene-lista-de-servicios{
    width: 100%;
    @include flexbox;       
    @include flex-direction(column);
    @include align-items(flex-end);
    margin-top: 30px;
}



.contiene-cada-servicio{
    @include flexbox;       
    @include flex-direction(column);
    @include align-items(flex-start);
    width: 100%;
    cursor: pointer;
    border-left:solid 3px transparent;
    padding: 0px 0px 0px 20px;
    margin-bottom: 10px;
}
.contiene-cada-servicio:hover{
  width: 95%;
}


    .contiene-cada-servicio-titulo{
      font-size: 28px;
      font-family:$font-primary;
      margin-bottom: 2px;
      letter-spacing: 1.2px;
    }

    .contiene-cada-servicio-descripcion{
      font-size: 14px;
      margin-bottom: 0;
      font-family: $font-primary;
    }

    .contiene-servicio-li-list-icono::before{
      content: "\025b6";    
      color:$GrisOscuro_1;  
      font-weight: bold;
      display: inline-block; 
      width: 1em;
      margin-left: -1em;
    }

    .contiene-ul-lista-sub-servicios{
      list-style: none;
    }


.border-color-servicio-white{
  border-color:$GrisClaro_2;
}

.border-color-servicio-oscuro-claro{
  border-color:$GrisOscuro_1;
}

.servicio-text-color-white{
  color:$GrisClaro_2;
}

.servicio-text-color-black{
  color:$GrisOscuro_1;
}




.presentacion-imagen-paralax-servicios{
/* The image used */
  background-image: url("../../imagenes/PaginasPersonalizadas/Servicios/Delpino-website-notary3.jpg");

  /* Set a specific height */
  height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}













 @media (min-width: $BrackPoint-Secundario){

    .Contiene-lista-de-servicios{
     margin-top: 0px;
    }
    .presentacion-imagen-paralax-servicios{
      height: 600px;
    }
  
}


@media (min-width: $BrackPoint-Tercer){

 

  
}