  .inicio-class-al-lado-de-boton{
    font-family: $font-secondary;
    padding: 4px 20px;
    color:$color-white;
    font-size: 16px;
        margin-bottom: 3px;
  }
  .inicio-class-al-lado-de-boton:hover{
    color:$color-white;
  }

  .logo-float-easy-socio-portada{
  position: absolute;  
  display: block;
  height: 35px;
  bottom: 10%;
  right: 4%;
}

.contiene-presentacion{
  width: 100%;
  @include flexbox;       
  @include flex-direction(row);
  @include align-items(flex-start);
  @include justify-content(space-around); 
  @include flex-wrap(wrap); 
}

   .contiene-cada-div-presentacion{
    width: 98%;
    margin-top: 4px;    
    padding: 0 10px;
    
   }

   .ajuste-de-posicion-para-presentacion{
    @include flexbox;       
    @include flex-direction(column);
    @include align-items(flex-start);
   }

    .contiene-h1-presentacion{
      letter-spacing: -3px;
      font-family: $font-primary;
      text-align: left;
      width: 100%;
      font-size: 45px;
      font-weight: bold;
      line-height:1;
      

    }

    .boton-contactar-presentacion{
      font-family: $font-secondary;
      font-size: 22px;
      padding:5px 35px;
      text-align: center;      
      color:$color-grey3;
      border:solid 2px $color-grey3;
      cursor: pointer;
      letter-spacing: 2px;
    }
    .boton-contactar-presentacion:hover{
      background-color: $color-3;
      color:$color-white;
      

    }

    .boton-contactar-presentacion-blanco{
      font-family: $font-secondary;
      font-size: 22px;
      padding:5px 35px;
      text-align: center;      
      color:$color-white;
      border:solid 2px $color-white;
      cursor: pointer;
      letter-spacing: 2px;
    }
    .boton-contactar-presentacion-blanco:hover{
      background-color: $color-white;
      color:$color-3;
      
    }


    .contiene-h3-presentacion{
      font-size:22px;
      width:100%;
      font-family: $font-primary;
      margin-top:25px;
    }

    .contiene-p-presentacion{
      font-size: 14px;
      letter-spacing: 1px;
      width: 100%;
      line-height: 1.5;
      margin-top: 25px;
      font-family: $font-primary;
      text-align:justify;

    }


.presentacion-imagen-paralax{
  /* The image used */
  background-image: url("../../imagenes/PaginasPersonalizadas/Delpino-website-buildings-estudio-de-abogados.jpg");
  /* Set a specific height */
  height: 600px;
  /* Create the parallax scrolling effect */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.presentacion-imagen-secundaria-paralax{
  /* The image used */
  background-image: url("../../imagenes/PaginasPersonalizadas/fabian-delpino-abogado-de-uruguay.jpg");
  /* Set a specific height */
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.presentacion-imagen-secundaria-paralax-pais{
  /* The image used */
  background-image: url("../../imagenes/PaginasPersonalizadas/Delpino-website-realstate.jpg");
  /* Set a specific height */
  height: 200vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
}

.presentacion-imagen-secundaria-paralax-pais-capa{
 background-image: url("../../imagenes/PaginasPersonalizadas/Delpino-website-uruguay-uruguay-mapa-back-mobil.png");
 position:absolute;
 top: 0;
 height: 100vh;
 width: 100%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 @include flexbox;       
 @include flex-direction(row);
 @include align-items(center);
 @include justify-content(space-around); 
}


.presentacion-imagen-paralax-quienes-somos{
  background-image: url("../../imagenes/PaginasPersonalizadas/Quienes_somos/Delpino-website-work1-(helloquence).jpg");
  /* Set a specific height */
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
}

   .contiene-alcance-nacional-texto{
    width: 85%;
    @include flexbox;       
    @include flex-direction(column);
    @include align-items(flex-start);
   }





.imagen-medio-de-web{
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position:relative;
}


    .contiene-todo-image-centrada{
      width: 100%;
      position:relative;
    }
   

       .sub-contiene-texto-imagen-medio{
         @include flexbox;       
         @include flex-direction(column);
         @include align-items(flex-start);
         width: 80%;
         position:absolute;
         position: absolute;
         bottom: 40px;
         left: 40px; 
       }


           .contiene-texto-imagen-medio-texto{
            font-size: 14px;
            /* margin-bottom: 40px; */
            text-align: left;
            color: #fff;
            width: 300px;
           }

              .contiene-texto-imagen-medio-logo{
                height: 80px;
              }












@media (min-width: $BrackPoint-Secundario){
  .logo-float-easy-socio-portada{
  
  position: absolute;  
  display: block;
  height: 40px;
  bottom: 10%;
  right: 10%;
}

.contiene-cada-div-presentacion{
    width: 49.5%;
}

.contiene-h1-presentacion{ 
  text-align: right;  
  width: 70%;
 }

 .ajuste-de-posicion-para-presentacion{    
    @include align-items(flex-end);
   }

    .contiene-p-presentacion{    
    margin-top: 0px;
    width: 70%;
    }

    .contiene-h3-presentacion{
      margin-top:0;
    }

.presentacion-imagen-secundaria-paralax-pais{
  height: 700px;
}
    

.presentacion-imagen-secundaria-paralax-pais-capa{
 background-image: url("../../imagenes/PaginasPersonalizadas/Delpino-website-uruguay-uruguay-mapa-back.png");
 position:absolute;
 top: 0;
 height: 350px;
 width: 100%;
 @include flexbox;       
 @include flex-direction(column);
 @include align-items(flex-end);
 @include justify-content(space-around); 

}  

  .contiene-alcance-nacional-texto{
    width: 50%;
    @include flexbox;       
    @include flex-direction(column);
    @include align-items(flex-start);

   }


}

@media (min-width: $BrackPoint-Tercer){

.logo-float-easy-socio-portada{
  
  
}


.presentacion-imagen-secundaria-paralax-pais{
  height: 1100px;
}
    

.presentacion-imagen-secundaria-paralax-pais-capa{
 height: 550px;
}  



}