.contiene-presentacion{
  width: 100%;
  @include flexbox;       
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(space-around); 
  @include flex-wrap(wrap); 
}

   .contiene-cada-div-presentacion{
    width: 98%;
    margin-top: 4px;
    height: 80px;
    background-color: grey;
   }

    .contiene-h1-presentacion{
      letter-spacing: 2;
      font-family: $font-primary;
      text-align: right;
      width: 100%;
      font-size: 28px;
      font-weight: bold;

    }




.imagen-medio-de-web{
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position:relative;
}


    .contiene-todo-image-centrada{
      width: 100%;
      position:relative;
    }
   

       .sub-contiene-texto-imagen-medio{
         @include flexbox;       
         @include flex-direction(column);
         @include align-items(flex-start);
         width: 80%;
         position:absolute;
         position: absolute;
         bottom: 40px;
         left: 40px; 
       }


           .contiene-texto-imagen-medio-texto{
            font-size: 14px;
            /* margin-bottom: 40px; */
            text-align: left;
            color: #fff;
            width: 300px;
           }

              .contiene-texto-imagen-medio-logo{
                height: 80px;
              }












@media (min-width: $BrackPoint-Secundario){
  .logo-float-easy-socio-portada{
  
  position: absolute;  
  display: block;
  height: 40px;
  bottom: 10%;
  right: 10%;
}


}

@media (min-width: $BrackPoint-Tercer){

.logo-float-easy-socio-portada{
  
  
}

.contiene-cada-div-presentacion{
    width: 49.5%;
}

.contiene-h1-presentacion{ 
  text-align: left;  
 }

}