.Slider-contenedor{
  height:100vh;
}

.Slider-img{
  position:absolute;
  top:0;
}

  .Slider-wraper-contenido-de-textos-y-botones{
    height:100vh;
    @include flexbox;       
    @include flex-direction(row);
    @include align-items(flex-start); 
    @include justify-content(space-around);
    width:95%;
    position:absolute;
    
  }

   .Slider-wraper-contenido-de-textos-y-botones{
    
    @include flexbox;       
    @include flex-direction(column);
    @include align-items(flex-start); 
    width:80%;
    }


